*.iml
.idea
**/build
**/generated
*.log
*.gpg
.gradle
.classpath
.project
.settings
build
classes/
out/

# Copper specific user setting files
projects/copper-regtest/src/test/resources/regtest.*.properties
!projects/copper-regtest/src/test/resources/regtest.default.properties
