*.iml
.idea
**/build
**/generated
*.log
.gradle
.classpath
.project
.settings
build
classes/

# Copper specific user setting files
projects/copper-regtest/src/test/resources/regtest.*.properties
!projects/copper-regtest/src/test/resources/regtest.default.properties