<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/copper-sample/src/main/java/de/scoopgmbh/copper/sample/simplews/orchestration/client/ClientSimulator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.scoopgmbh.copper.sample.simplews.orchestration.client.ClientSimulator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="copper-sample"/>
</launchConfiguration>
