.copperActionButton{
	-fx-base: rgb(223,70,64);
}

.noSelectAnimationMenueItem:focused {
     -fx-background: transparent;
     -fx-background-color: transparent;
     -fx-text-fill: -fx-selection-bar-text;
}

.copperpool-tab-pane.floating > .tab-content-area {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-padding: 0;
}


.error{/*-fx-control-inner-background*/
	-fx-control-inner-background: #FF8080;
}

.consoleFont {
	-fx-font: 12px "Courier New";
}

.chart-series-line {    
    -fx-stroke-width: 2px;
}

.filter-pane {
    -fx-border-color: -fx-box-border;
    -fx-background-color: linear-gradient(from 0px 0px to 0px 6px, #C17F14, -fx-background);
    -fx-padding: 0.50em 0.3125em 0.25em 0.3125em;
    -fx-border-color: #F9AA2A;
    -fx-border-width: 1px 0px 1px 1px;
}

.filter-resizer {
    -fx-base: #F9AA2A;
    -fx-background-radius: 0 3 3 0;
}

.back-button Region{
    -fx-shape: "M0,7L11,0L11,14Z";
    -fx-background-color: #666666;
    -fx-scale-shape: false;
}

.back-button{
    -fx-background-radius: 3 0 0 3;
}


.forward-button Region{
    -fx-shape: "M0,0L11,7L0,14Z";
    -fx-background-color: #666666;
    -fx-scale-shape: false;
}

.forward-button{
    -fx-background-radius: 0 3 3 0;
}
