<html xmlns:concordion="http://www.concordion.org/2007/concordion" xmlns:ext="urn:concordion-extensions:2010">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		 <style type="text/css">
    </style>
	</head>

    <body>
	    <div class="container">
	    	<ul class="breadcrumb">
			   <li><a href="../../index.html">Home</a> <span class="divider">/</span></li>
			   <li class="active">Application measurepoints</li>
		  	</ul>
		  	<div class="page-header">
	    		<h1>Application measurepoints</h1>
	    	</div>
	    	<h2>Description</h2>
	    	<p>Application specific measurepoints.</p>
	    	
	    	<textarea id="code" name="code">
monitoringDataCollector.measureTimePeriod("measurepointid", new Runnable() {
	@Override
	public void run() {
		...
	}
});  	
			</textarea>
	    	<script>
		      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
		        lineNumbers: false,
		        matchBrackets: true,
		        mode: "text/x-java"
		      });
		    </script>
	    	
	    	
	    	<h2>Example</h2>
	    	<div class="example">
	    		
	        </div>
	        <h2>Screenshot</h2>
	        <div class="well">
	            <p style="display: inline-block;">
	                <div ext:screenshot=""/>
	            </p> 
	        </div>
        </div>
    </body>
</html>