<html xmlns:concordion="http://www.concordion.org/2007/concordion" xmlns:ext="urn:concordion-extensions:2010">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
    <body>
	    <div class="container">
	    	<ul class="breadcrumb">
			   <li><a href="../../index.html">Home</a> <span class="divider">/</span></li>
			   <li class="active">Workflowinstance detail</li>
		  	</ul>
		  	<div class="page-header">
	    		<h1>Workflowinstance detail</h1>
	    	</div>
	    	<h2>Description</h2>
	    	<p>Shows the workflowinstance details.  </p>
	    	
	    	<h2>Example</h2>
	    	<div class="example">
	        </div>
	        <h2>Screenshot</h2>
	        <div class="well">
	            <div ext:screenshot=""/> 
	        </div>
        </div>
    </body>
</html>