name: Build

on:
  push:
    branches:
      - keymaster
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
      - name: Configure Gradle cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 25
      - name: Build with Gradle
        env:
          SONA_TOKEN_USERNAME: ${{ secrets.SONA_TOKEN_USERNAME }}
          SONA_TOKEN_PASSWORD: ${{ secrets.SONA_TOKEN_PASSWORD }}
          SECRING: ${{ secrets.SECRING }}
          SECRING_PASS: ${{ secrets.SECRING_PASS }}
          CI: true
        run: ./gradlew --no-daemon --no-parallel --rerun-tasks --info --full-stacktrace build