name: Build and upload

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SONA_TOKEN_USERNAME: ${{ secrets.SONA_TOKEN_USERNAME }}
      SONA_TOKEN_PASSWORD: ${{ secrets.SONA_TOKEN_PASSWORD }}
    steps:
    - name: Git checkout
      uses: actions/checkout@v4
    - name: Create secring.gpg
      run: echo $SECRING_HEX > secring.gpg.hex && xxd -p -r secring.gpg.hex > secring.gpg
    - name: Configure Gradle cache
      uses: actions/cache@v4
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: 17
    - name: Build with Gradle
      run: ./gradlew --no-daemon --no-parallel --rerun-tasks --info --full-stacktrace build
    - name: Upload archives
      if: github.ref == 'refs/heads/master' && github.event_name == 'push'
      run: ./gradlew -Psigning.secretKeyRingFile=secring.gpg -Psigning.password=${{ secrets.SIGNING_PASSWORD }} -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }} --no-daemon --no-parallel --info --full-stacktrace publishAggregationToCentralPortal